In [1]:
import numpy as np
import pandas as pd

def load_data(all_mkt):
    data = {}
    for mkt in all_mkt:
        #load data
        mkt_data = pd.read_csv(f'./data/{mkt.lower()}_5core.txt', sep=' ', usecols=['userId', 'itemId', 'rate'])
        #show statistic infomation
        statistic(mkt_data, mkt)
        data[mkt] = mkt_data
    return data

def statistic(df, mkt):
    user_num = len(df['userId'].unique())
    item_num = len(df['itemId'].unique())
    sparse = len(df)/(user_num*item_num)
    interaction = len(df)
    print(f'{mkt}: users num={user_num}, item num={item_num}, ratings={interaction}, sparse={sparse}')

In [2]:
all_mkt = ['de', 'ca', 'fr', 'in', 'jp', 'mx', 'uk']
data_all = load_data(all_mkt)

de: users num=1851, item num=2179, ratings=17300, sparse=0.004289260806643842
ca: users num=4668, item num=5735, ratings=44779, sparse=0.001672669435336323
fr: users num=1838, item num=1879, ratings=17624, sparse=0.005103077887955821
in: users num=239, item num=470, ratings=2015, sparse=0.017938217751268585
jp: users num=487, item num=955, ratings=4485, sparse=0.009643398518550372
mx: users num=1878, item num=1645, ratings=17095, sparse=0.005533598117378961
uk: users num=3352, item num=3251, ratings=31547, sparse=0.0028949234639754685

In [3]:
data_all['de']

                             userId      itemId  rate
0      AE7MLXQVUVOXQPRSOLCDHYKITXTA  B00V4584GW   5.0
1      AGJ73TI25YFNYKVBWJZF4A63OM2Q  B00M55C1I2   5.0
2      AGJKPF6OWSILZNZINC4BCAUA7FBQ  B01G5I6Q94   4.0
3      AGYRUMD34XLXOSYFCH6ZEULE6COA  B00M562LF4   1.0
4      AH6FHMR6ORMDLRHWUPX3BEK2KP5A  B004FLJVXM   4.0
...                             ...         ...   ...
17295  AF2RVEFTGV3B5V6QV25Y3QTB3OCQ  B00RDDLBNC   5.0
17296  AHZDQVG3FDDVVMSTRDWF3WTWCGXA  B00OTJZNI2   5.0
17297  AEUGAUPMSXO4UZLP2PXQVZOHPIFQ  B01DLMD5O6   2.0
17298  AESBHANJOGCQXKXUMDOMWOAV7ROQ  B00LA58P0Q   5.0
17299  AGQXYYLP3QVPU6KLKHCKBSBFI76A  B01CCPKCSK   5.0

[17300 rows x 3 columns]